body {
    margin: 0;
}
.wrapper {
    width: 50%;
    min-height: calc(100vh - 40px);
    background: #ccc;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    margin-top: 0;
}
legend {
    text-align: right;
}