body {
    margin: 0;
    padding: 0;
    font-family: "gill san nova", sans-serif;
}
.wrapper {
    width: 1300px;
    margin: 0 auto;
    background: #aaa;
}
header{
    height: 140px;
    background-color: #626262;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 0;
}
.logo {
    height: 100%;
}
.logo img {
    height: 100%;
}
.logo, .menu {
    vertical-align: top;
    display: inline-block;
    width: 50%;
}
.menu {
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0;
}
.menu li {
    display: inline-block;
    margin-left: 50px;
    font-size: 20px;
    line-height: 140px;
}
.menu a {
    color: #fff;
    text-decoration: none;
}
.menu a:hover{
    color: #0f0;
}
.banner {
    height: calc(100vh - 140px);
    background: url(BadCat/images/banner.jpg) no-repeat center center / cover;
    text-align: center;
}
h2 {
    margin: 0;
    font: 40px "itc-american-typewriter", cursive;
}
.banner h2 {
        padding: 60px 0;
}
.text-green {
    color: #0f0;
}
.green-box {
    background: #18e835;
}
.green-box h2 {
    text-align: center;
    padding: 60px 0;
}
.out-box {
    width: 1200px;
    margin: 0 auto;
}
.row1, .row2 {
    font-size: 0;
}
.in-box {
    background: #fff;
    width: 245px;
    height: 358px;
    padding: 0 15px 0 20px;
    display: inline-block;
    font-size: 17pt;
    margin: 0 26.6px 50px 0; 
    border-radius: 10px;
vertical-align: top;
}
.in-box h3 {
    font-weight: bold;
    font-size: 19pt;
    text-align: center;
    margin: 25px 0 5px 0;
}
.in-box:last-child {
    margin-right: 0;
}
.circle {
    border: 2px solid #e6c878;
    width: 98px;
    height: 98px;
    margin: 15px auto 0 auto;
    border-radius: 50%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.hotel {
    background-image: url(BadCat/icons/34Vet_hotel.svg);
}
.cat {
    background-image: url(BadCat/icons/34Vet_cat.svg);
}
.bird {
    background-image: url(BadCat/icons/34Vet_bird.svg);
}
.ex {
    background-image: url(BadCat/icons/34Vet_exhibition.svg);
}
.groom {
    background-image: url(BadCat/icons/34Vet_grooming.svg);
}
.toy {
    background-image: url(BadCat/icons/34Vet_toys.svg);
}
.survey {
    background-image: url(BadCat/icons/34Vet_survey.svg);
}
.mat {
    background-image: url(BadCat/icons/Tilda_Icons_8yo_mat.svg);
}
.loh {
    margin: 17px;
}
h3::after {
    content: "";
	display: block;
	width: 100px;
	height: 3px;
	background: #e6c878;
    position: relative;
    left: calc(50% - 50px);
    top: 5px;
}
.in-box  p {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-weight:700;
    line-height: 20px;
}
.heaven {
    height: 192px;;
    background: url(BadCat/images/heaven.jpg) no-repeat center center / cover;
    color: #fff;
    padding: 780px 0 0 0;
}

.heaven-text1 {
    text-align: left;
    width: 50%;
/*    background: red;*/
    float: right;
    padding: 0 0 0 0px;;
/*    margin: 646px 0 0 0;*/
    line-height: 0;
}
h1 {
    padding: 0;
    margin: 0;
    font-family:"gill-sans-nova-condensed";
    font-size: 90pt;
}
.heaven-text1 h2 {
    margin-top: 50px;
    font-style: italic;
    letter-spacing: 2px;
}
.team {
    background: yellow;
}
.team h2 {
    text-align: center;
    padding: 60px 0;
}
/*
 h3::after {
	content: "";
	display: block;
	width: 100px;
	height: 5px;
	background: #e6c878;
    position: relative;
    left: calc(50% - 50px);
    top: 0px;
}
*/
    
